* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', "Open Sans";
}

a {
    text-decoration: none;
    color: #000;
}

/* CONTAINER NAV MENU*/

.container-nav {
    display: flex;
    background-color: #000;
}

.container-nav .container-nav-menu {
    display: flex;
}

.container-nav-menu .container-logo {
  display: flex;
  justify-content: center;
  align-items: center;  
}


.container-nav .container-nav-menu1 a {
    height: 80px;
    display: flex;
    padding: 20px 10px;
    margin: 0 10px;
    align-items: center;
    color: #fff;
}

.container-nav .enlaces a:hover {
    border-bottom: 5px solid #0067e5;
}

.container-nav .container-logo a {
    padding-left: 0;
    margin-left: 0;
}

.container-nav-menu svg {
    height: 40px;
    width: 115px;
}

.container-nav-menu svg path {
    fill: #fff;
}



.container-nav .container-nav-login i {
    font-size: 20px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.container-nav .container-nav-login a {
    padding: 0;
    height: auto;
}

/* GRID */

.container-grid {
    position: relative;
    max-height: 1000px;
}

.grid {
    position: absolute;
    width: 100%;
    z-index: 1000;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-area: "categorias subcategorias";
    box-shadow: 0px 3px 0px rgba(0,0,0,.10);
    background-color: #fff;
}

.grid.activo {
    display: grid;
}

/* CATEGORIAS */

.grid .btn-regresar {
    background: transparent;
    color: #232f3e;
    border: none;
    padding: 10px;
    border-radius: 3px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

.grid .categoria-menu {
    min-height: 300px;
    display: none;
    width: 100%;
    grid-template-rows: 1fr;
}

.grid .categoria-menu.activo {
    display: grid;
}
.grid .enlaces {
    margin: 40px;
}

.grid .categoria-menu a {
    font-size: 16px;
    padding: 20px 40px;
    display: block;
}

.grid .categoria-menu .container-subcategorias a {
    padding: 9px;
} 

.grid .categoria-menu a:hover {
    background-color: #f0f0f0;
    color: #000;
}

.grid .categoria-menu a.activo {
    background-color: #0067e6;
    color: #fff;
}

/* SUBCATEGORIAS */

.grid .container-subcategorias {
    display: none;
    grid-template-rows: 1fr;
    width: 100%;
}

.grid .container-subcategorias.activo {
    display: grid;
}


.grid .enlaces-subcategorias-cont {
    margin: 40px;
}

.grid .enlaces-subcategorias-cont a {
    display: block;
    padding: 9px;
}

.grid .enlaces-subcategorias h3 {
    line-height: 33px;
}

.grid .categoria-menu .categoria-menu3 {
    display: flex;
}

/* GALERIA SUBCATEGORIAS */

.grid .banner-subcategorias {
    padding: 40px;
}

.grid .container-subcategorias-img {
    width: 347px;
    height: 155px;
    display: none;
}

.grid .container-subcategorias-img.activo {
    display: block;
}

.grid .banner-subcategorias .descripcion-img {
    background-color: #000;
    position: relative;
    top: -5px;
}

.grid .banner-subcategorias .descripcion-img h3 {
    color: #fff;
    padding: 10px;
}

.grid .banner-subcategorias .descripcion-img p {
    color: #fff;
    font-size: 14px;
    padding: 0 10px 20px;
    line-height: 2;
}

.grid .banner-subcategorias .descripcion-img2 h3 {
    color: #000;
    padding: 10px;
}

.grid .container-subcategorias-img-on {
    display: block;
}

.grid .container-subcategorias-img a {
    width: 100%;
    height: 100%;
}

.grid  .container-subcategorias-img a  img {
    width: 347px;
    height: 155px;
    position: relative;
    top: -13px;
    left: -9px;
}

/* 
..........................
SLIDER....................
..........................
*/

/* MAIN SLIDER */

.container-slider {
    width: 100%;
    height: 500px;
}

.container-slider-ind {
    position: relative;
}

.container-slider-div.div1 {
    width: 100%;
    height: 500px;
    background-image: url(https://www.synology.com/img/homebanner/20201204_DSM70_beta/bg_xl.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.container-slider-ind.principal a {
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: column;
    align-items: center;
}

.container-slider-ind.principal span {
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 25px;
    margin-top: 100px;
}

.container-slider-ind.principal p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 30px;
}

.container-slider-ind.principal button {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.05em;
    font-weight: 400px;
    padding: 10px 35px;
    background-color: #0067e6;
    color: #fff;
    border: none;
    border-radius: 24px;
    margin: 20px 0;
}

.container-slider-div.div2 {
    width: 100%;
    height: 500px;
    background-image: url(https://www.synology.com/img/homebanner/20210310_RS2421RPplus_RS2821RPplus/bg_xl.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 60px 0 0 60px;
    z-index: 1;
    position: absolute;
    opacity: 0;    
    transition: opacity 0.4s ease-in-out;
    transform: translateY(-20px);
}

.container-slider-div .header-slider-cont h1 {
    color: #fff;
    font-size: 46px;
    margin-bottom: 12px;
    line-height: 54px;
    font-weight: 700;
}

.container-slider-div .header-slider-cont p {
    color: #fff;
    font-size: 18px;
    margin: 8px 0 30px;
    line-height: 1.8;
    font-weight: 400;
}

.container-slider-div .links-slider-cont {
    display: flex;
    flex-direction: column;
}

.container-slider-div .links-slider-cont a {
    color: #fff;
    font-size: 23px;
    margin-bottom: 22px;
}

.container-slider-div .links-slider-cont a:hover i {
    margin-left: 10px;
    transition-duration: 0.2s;
}

.container-slider-div.div3 {
    width: 100%;
    height: 500px;
    background-image: url(https://www.synology.com/img/homebanner/20210323_HDD_new_bg_without/bg_xl.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 60px 0 0 60px;
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    transform: translateY(-40px);
}

.container-slider-div.div4 {
    width: 100%;
    height: 500px;
    background-image: url(https://www.synology.com/img/homebanner/20201221_ds1821plus_ds1621plus_rs1221rpplus/bg_xl.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 60px 0 0 60px;
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    transform: translateY(-60px);
}

.container-slider-div.activo {
    opacity: 1;
    z-index: 2;
}

.btns-slider-container {
    display: flex;
    position: absolute;
    z-index: 3;
    top: 525px;
}

.btns-slider-container a {
    display: flex;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #fff;
    margin: 0 10px;
    font-size: 6px;
    color: #fff;
    border-radius: 100%;
}

.btns-slider-container a.activo {
    background-color: #0067e6;
    color: #0067e6;
}

/* NEWS CARDS */

.container-newscards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 4px;
    margin: 4px;
}

.container-newscards .card-container {
    width: 100%;
    height: 337px;
    overflow: hidden;
}

.container-newscards .card-container .card-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 164px;
    transition: all .2s ease-in-out;
}

.card-container .card-img.uno {
    background-image: url(https://www.synology.com/api/homepage/smallbanner/getImage/567);
}

.card-container .card-img.dos {
    background-image: url(https://www.synology.com/api/homepage/smallbanner/getImage/413);
}

.card-container .card-img.tres {
    background-image: url(https://www.synology.com/api/homepage/smallbanner/getImage/191);
}

.card-container .card-img.cuatro {
    background-image: url(https://www.synology.com/api/homepage/smallbanner/getImage/485);
}

.container-newscards .card-container a:hover .card-img {
    background-size: 105% auto;
}

.container-newscards .card-container a:hover .card-caption {
    background-size: 105% auto;
    top: -5%;
}

.card-container .card-caption {
    background-color: #fff;
    padding: 30px 40px;
    z-index: 3;
    text-align: center;
    position: relative;
    color: #2e3742;
    top: 0;
    transition: all .2s ease-in-out;
}

.card-container .card-caption p {
    margin: 8px 0 16px 0;
}


/* /* SERVICES CARDS */

.container-services {
    background-color: #1c2024;
    /* display: flex; */
    align-items: center;
    padding: 64px 0;
}

.services-header-container {
    display: flex;
    justify-content: center;
    margin-bottom: 71px;
    color: #fff;
}

.services-body-container {
    display: flex;
    flex-flow: row wrap;
    padding: 0 80px;
    justify-content: space-between;
    max-width: 2000px;
    margin: 0 auto;
}

.services-header-container h2 {
    text-align: center;
    font-weight: 400;
    line-height: 36px;
    font-size: 26px;
}

.service-ind-container {
    width: 150px;
}

.service-img-cont {
    width: 120px;
    height: 120px;
    background-color: #25292d;
    border-radius: 120px;
    transition: background-color .3s ease;
    margin: 0 auto;
}

.service-img-cont:hover {
    background-color: #32373a;
}

.service-ind-container a p {
    margin-top: 26px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

/* SECCION INFO */

.separador-secciones {
    width: 100%;
    height: 40px;
    background-color: #f0f0f0;
}

.container-info-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 77px 80px 60px 80px;
    gap: 40px;
}

.container-info-section .info-title {
    color: #2e3742;
    padding: 10px 0;
}

.container-info-section .enlaces-info-section a {
    display: block;
    font-size: 15px;
    line-height: 24px;
    padding: 6px 0;
    color: #2e3742;
}

.container-info-section .enlaces {
    margin-top: 12px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
    border-top: .5px solid #1c2024;
}

.container-footer {
    display: flex;
    flex-direction: row;
    padding: 12px 12px 12px 0;
}

.container-footer .container-inner {
    display: flex;
    justify-content: center;
}

.container-footer p {
    font-size: 12px;
    margin-right: 20px;
    line-height: 24px;
}

.container-footer a {
    font-size: 12px;
    border-left: .67px solid #2e3742;
    padding: 0 5px;
    line-height: 24px;
}

#border-eraser {
    border: none;
} 

.container-footer1 {
    margin-top: 12px;
}

.container-footer1 ul {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    vertical-align: middle;
}

.container-footer1 ul li {
    font-size: 16px;
    width: 29px;
    text-align: center;
    display: inline-block;
}

.container-footer1 ul li a {
    color: #2e3742;
    font-size: 16px;
}

.container-footer1 a {
    color: #2e3742;
    font-size: 12px;
}

.container-footer1 a:hover {
    color: #1c2024;
}

/* RESPONSIVE */

@media screen and (min-width: 320px) {
    .container-nav {
        justify-content: space-between;
        padding: 0 20px;
        max-height: 50px;
    }
    
    .container-nav .container-btns-menu {
        display: block;
        margin: auto 0;
    }

    .container-nav .container-btns-menu  button {
        color: #fff;
        background-color: transparent;
        border: none;
        font-size: 20px;
    }

    #btn-menu-regresar {
        color: #fff;
        background-color: transparent;
        border: none;
        font-size: 30px;
        position: absolute;
        left: 94.5%;
        bottom: 92%;
        z-index: 1001;
    }

    .container-nav-menu1 {
        display: none;
        position: absolute;
        left: 100%;
    }

    .container-nav-menu1 a {
        justify-content: center;
        font-size: 24px;
    }

    .container-nav-menu1 .enlaces a {
        border-bottom: 1px solid #ccc;
    }

    .container-nav-menu1 .enlaces:first-child {
        border-top: 1px solid #ccc;
    }

    .container-nav-menu1.activo {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
        background-color: #1c2024;
        z-index: 100;
        left: 0px;
    }

    .container-nav .container-nav-login {
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
        position: relative;
        height: 150px;
        justify-content: space-around;
    }

    .container-nav .container-nav-login a {
        margin: 0 10px;
    }

    .grid {
        top: -80px;
    }

    .grid .categoria-menu {
        grid-template-columns: 1fr;
    }

    .grid .categoria-menu a {
        text-align: center;
        font-size: 24px;
    }

    .grid .banner-subcategorias {
        display: none;
    }

    .grid .container-subcategorias {
        grid-template-columns: 1fr;
    }

    .grid .enlaces-subcategorias h3 {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (min-width: 769px) {
    .container-nav {
        padding: 0 20px;
        max-height: 80px;

    }

    .container-nav .container-btns-menu {
        display: none;
    }

    .container-nav-menu1 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: initial;
    }

    .container-nav-menu1.activo {
        display: none;
    }

    .container-nav-menu1 .enlaces {
        display: flex;
        position: initial;
    }

    .container-nav-menu1 .enlaces:first-child {
        border-top: none;
    }
    
    .container-nav .container-nav-login {
        display: flex;
        flex-direction: row;
        padding: 0;
        position: initial;
        height: auto;
    }

    .container-nav .container-nav-login a {
        margin: 20px 10px 20px 0;
    }

    .btns-slider-container {
        margin-left: 50%;
        left: -60px;   
    }

    .grid {
        top: 0;
    }

    .grid .categoria-menu {
        grid-template-columns: 1fr 2fr;
    }

    .grid .categoria-menu a {
        text-align: initial;
        font-size: 16px;
    }

    .grid .container-subcategorias {
        grid-template-columns: 1fr 1fr;
    }

    .grid .enlaces-subcategorias h3 {
        font-size: 14px;
        text-align: initial;
    }

    .grid .banner-subcategorias {
        display: block;
    }

    .container-footer {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:1440px) {
    .container-nav .container-btns-menu {
        display: none;
    }
    
    .btns-slider-container {
        margin-left: 40px;
        left: 0;
    }

    .container-footer {
        display: flex;
        flex-direction: row;
    }


}