* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', "Open Sans";
}

a {
    text-decoration: none;
    color: #000;
}

/* CONTAINER NAV MENU*/

.container-nav {
    display: flex;
    background-color: #000;
    justify-content: space-between;
    padding: 0 20px;
}

.container-nav .container-btns-menu {
    display: none;
}

.container-nav .container-nav-menu {
    display: flex;
    max-height: 80px;
}

.container-nav-menu .container-logo {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.container-nav a {
    height: 80px;
    display: flex;
    padding: 20px 10px;
    margin: 0 10px;
    align-items: center;
    color: #fff;
}

.container-nav .enlaces a:hover {
    border-bottom: 5px solid #0067e5;
}

.container-nav .container-logo a {
    padding-left: 0;
    margin-left: 0;
}

.container-nav-menu svg {
    height: 40px;
    width: 115px;
}

.container-nav-menu svg path {
    fill: #fff;
}

.container-nav-menu .enlaces {
    display: flex;
}

.container-nav .container-nav-login {
    display: flex;
}

.container-nav .container-nav-login i {
    font-size: 20px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.container-nav .container-nav-login a {
    margin: 20px 10px 20px 0;
    padding: 0;
    height: auto;
}

/* GRID */

.container-grid {
    position: relative;
    max-height: 1000px;
}

.grid {
    position: absolute;
    width: 100%;
    z-index: 1000;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-area: "categorias subcategorias";
    box-shadow: 0px 3px 0px rgba(0,0,0,.10);
    background-color: #fff;
}

.grid.activo {
    display: grid;
}

/* CATEGORIAS */

.grid .btn-regresar {
    background: transparent;
    color: #232f3e;
    border: none;
    padding: 10px;
    border-radius: 3px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

.grid .categoria-menu {
    grid-area: "categorias";
    min-height: 300px;
    display: none;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.grid .categoria-menu.activo {
    display: grid;
}
.grid .enlaces {
    margin: 40px;
}

.grid .categoria-menu a {
    font-size: 16px;
    padding: 20px 40px;
    display: block;
}

.grid .categoria-menu .container-subcategorias a {
    padding: 9px;
} 

.grid .categoria-menu a:hover {
    background-color: #f0f0f0;
    color: #000;
}

.grid .categoria-menu a.activo {
    background-color: #0067e6;
    color: #fff;
}

/* SUBCATEGORIAS */

.grid .container-subcategorias {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}

.grid .container-subcategorias.activo {
    display: grid;
}


.grid .enlaces-subcategorias-cont {
    margin: 40px;
}

.grid .enlaces-subcategorias-cont a {
    display: block;
    padding: 9px;
}

.grid .enlaces-subcategorias h3 {
    font-size: 14px;
    line-height: 33px;
}

.grid .categoria-menu .categoria-menu3 {
    display: flex;
    grid-area: "subcategorias";

}

/* GALERIA SUBCATEGORIAS */

.grid .banner-subcategorias {
    padding: 40px;
}

.grid .container-subcategorias-img {
    width: 347px;
    height: 155px;
    display: none;
}

.grid .container-subcategorias-img.activo {
    display: block;
}

.grid .banner-subcategorias .descripcion-img {
    background-color: #000;
    position: relative;
    top: -5px;
}

.grid .banner-subcategorias .descripcion-img h3 {
    color: #fff;
    padding: 10px;
}

.grid .banner-subcategorias .descripcion-img p {
    color: #fff;
    font-size: 14px;
    padding: 0 10px 20px;
    line-height: 2;
}

.grid .banner-subcategorias .descripcion-img2 h3 {
    color: #000;
    padding: 10px;
}

.grid .container-subcategorias-img-on {
    display: block;
}

.grid .container-subcategorias-img a {
    width: 100%;
    height: 100%;
}

.grid  .container-subcategorias-img a  img {
    width: 347px;
    height: 155px;
    position: relative;
    top: -13px;
    left: -9px;
}

/* 
..........................
SLIDER....................
..........................
*/

/* MAIN SLIDER */

.container-slider {
    width: 100%;
    height: 500px;
}

.container-slider-ind {
    position: relative;
}

.container-slider-div.div1 {
    width: 100%;
    height: 500px;
    background-image: url(https://www.synology.com/img/homebanner/20201204_DSM70_beta/bg_xl.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.container-slider-ind.principal a {
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: column;
    align-items: center;
}

.container-slider-ind.principal span {
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 25px;
    margin-top: 100px;
}

.container-slider-ind.principal p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 30px;
}

.container-slider-ind.principal button {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.05em;
    font-weight: 400px;
    padding: 10px 35px;
    background-color: #0067e6;
    color: #fff;
    border: none;
    border-radius: 24px;
    margin: 20px 0;
}

.container-slider-div.div2 {
    width: 100%;
    height: 500px;
    background-image: url(https://www.synology.com/img/homebanner/20210310_RS2421RPplus_RS2821RPplus/bg_xl.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 60px 0 0 60px;
    z-index: 1;
    position: absolute;
    opacity: 0;    
    transition: opacity 0.4s ease-in-out;
    transform: translateY(-20px);
}

.container-slider-div .header-slider-cont h1 {
    color: #fff;
    font-size: 46px;
    margin-bottom: 12px;
    line-height: 54px;
    font-weight: 700;
}

.container-slider-div .header-slider-cont p {
    color: #fff;
    font-size: 18px;
    margin: 8px 0 30px;
    line-height: 1.8;
    font-weight: 400;
}

.container-slider-div .links-slider-cont {
    display: flex;
    flex-direction: column;
}

.container-slider-div .links-slider-cont a {
    color: #fff;
    font-size: 23px;
    margin-bottom: 22px;
}

.container-slider-div .links-slider-cont a:hover i {
    margin-left: 10px;
    transition-duration: 0.2s;
}

.container-slider-div.div3 {
    width: 100%;
    height: 500px;
    background-image: url(https://www.synology.com/img/homebanner/20210323_HDD_new_bg_without/bg_xl.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 60px 0 0 60px;
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    transform: translateY(-40px);
}

.container-slider-div.div4 {
    width: 100%;
    height: 500px;
    background-image: url(https://www.synology.com/img/homebanner/20201221_ds1821plus_ds1621plus_rs1221rpplus/bg_xl.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 60px 0 0 60px;
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    transform: translateY(-60px);
}

.container-slider-div.activo {
    opacity: 1;
    z-index: 2;
}

.btns-slider-container {
    display: flex;
    position: absolute;
    z-index: 3;
    margin-left: 40px;
    top: 525px;
}

.btns-slider-container a {
    display: flex;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #fff;
    margin: 0 10px;
    font-size: 6px;
    color: #fff;
    border-radius: 100%;
}

.btns-slider-container a.activo {
    background-color: #0067e6;
    color: #0067e6;
}

/* NEWS CARDS */

.container-newscards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 4px;
    margin: 4px;
}

.container-newscards .card-container {
    width: 330px;
    height: 337px;
    overflow: hidden;
}

.container-newscards .card-container .card-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 164px;
    transition: all .2s ease-in-out;
}

.card-container .card-img.uno {
    background-image: url(https://www.synology.com/api/homepage/smallbanner/getImage/567);
}

.card-container .card-img.dos {
    background-image: url(https://www.synology.com/api/homepage/smallbanner/getImage/413);
}

.card-container .card-img.tres {
    background-image: url(https://www.synology.com/api/homepage/smallbanner/getImage/191);
}

.card-container .card-img.cuatro {
    background-image: url(https://www.synology.com/api/homepage/smallbanner/getImage/485);
}

.container-newscards .card-container a:hover .card-img {
    background-size: 105% auto;
}

.container-newscards .card-container a:hover .card-caption {
    background-size: 105% auto;
    top: -5%;
}

.card-container .card-caption {
    background-color: #fff;
    padding: 30px 40px;
    z-index: 3;
    text-align: center;
    position: relative;
    color: #2e3742;
    top: 0;
    transition: all .2s ease-in-out;
}

.card-container .card-caption p {
    margin: 8px 0 16px 0;
}
